@import "reset";
@import "_modal";
$root: 'wrapper';

.#{$root} {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    .logo {
        font-size: 50px;
    }
}

