$height-header: 40px;

.header {
    background-color: cornflowerblue;
    height: $height-header;
    padding: 15px;
    .left-text {
        float: left;
    }
    .right-text {
        float: right;
    }
    clear: both;
    color: white;
}
